@import "/src/ui/breakpoints.scss";

.title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    padding: 50px 0;
    @include mediaMobile{
        font-weight: 800;
        font-size: 20px;
        line-height: 120px;
        padding: 15px;
    }
}

.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.main {
    margin-top: 100px;
    @include mediaMobile{
        margin-top: 175px;

    }
}
