@import "/src/ui/breakpoints.scss";

.wrapperUp {
  padding: 14px 0;
  border-bottom: 1px dashed rgba(63, 78, 101, 0.5);
}

.wrapperUpWrapper {
  display: flex;
  justify-content: space-between;
}

.wrapperLeft {
  display: flex;
  align-items: center;
}

.adress {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  padding: 0 20px;
  border-right: 1px dashed rgba(63, 78, 101, 0.5);
  @include mediaMobile {
    border: none;
    padding-left: 20px;
  }
}

.adressSpan {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.email {
  padding-left: 20px;
  @include mediaMobile {
    padding-left: 0;
  }
}

.mail {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  padding: 0 20px;
  @include mediaMobile {
    padding-left: 20px;
  }
}

.wrapperLinks {
  display: flex;
  @include mediaMobile {
    display: block;
    padding-top: 25px;
  }
}

.wrapperLink {
  padding: 6px 30px;
  border-right: 1px dashed rgba(63, 78, 101, 0.5);
  &:last-child {
    border-right: none;
  }
  @include mediaMobile {
    border-right: none;
    padding: 0 0 20px;
  }
}

.linksHeader {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #3f4e65;
  transition: box-shadow 0.3s;
  &:active {
    box-shadow: 0 0 10px #3f4e65;
  }
}

.wrapperDown {
  display: flex;
  padding: 20px 0;
  align-items: center;
}

.wrapperBtn {
  display: flex;
  padding: 4px 35px;
  gap: 15px;
  align-items: center;
}

.btn {
  width: 192px;
  height: 59px;
  background: #ffc85e;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  border-radius: 79px;
  color: #ffffff;
  &:hover {
    box-shadow: 0 0 10px #ffc85e;
  }
  @include mediaMobile {
    width: 290px;
    height: 50px;
  }
}

.search {
  width: 263px;
  height: 59px;
  background-color: #ededed;
  border-radius: 36px;
  color: #5c6370;
  padding: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 50%;
  background-image: url("../../assets/icons/search.svg ");
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 10px #ffc85e;
  }
}

.wrapper {
  display: flex;
  align-items: center;
}

.wrapperContact {
  text-align: end;
  padding-right: 10px;
}

.number {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #111111;
}

.time {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  padding: 5px 0;
  color: #3f4e65;
  @include mediaMobile {
    padding: 0;
  }
}

.text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #3f4e65;
  text-decoration-line: underline;
}

.separator {
  border: 1px dashed rgba(63, 78, 101, 0.1);
  height: 49px;
  margin: 0 25px;
  @include mediaMobile {
    height: 30px;
  }
}

.shopping {
  position: relative;
  padding-right: 28px;
}

.basketCount {
  position: absolute;
  top: -5px;
  right: 15px;
  @include mediaMobile {
    width: 17px;
    height: 12px;
    right: 20px;
    top: 0;
  }
}

.basket {
  display: inline-block;
  @include mediaMobile {
    width: 25px;
    height: 25px;
  }
}

.shoppingCart {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #3f4e65;
}

.price {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21x;
  color: #111111;
}

.burger {
  width: 32px;
  height: 32px;
}

.up {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  border-bottom: 1px solid rgba(63, 78, 101, 0.1);
}

.sultan {
  width: 97px;
  height: 41px;
}

.catalogMob {
  padding: 13px 45px;
  background-repeat: no-repeat;
  background-position: left 25px center;
  background-image: url("../../assets/burger-menu/catalog.svg ");
}

.down {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #3f4e65;
  border-bottom: 1px solid rgba(63, 78, 101, 0.1);
}

.searchMob {
  padding: 13px 45px;
  background-repeat: no-repeat;
  background-position: left 25px center;
  background-image: url("../../assets/burger-menu/searchMob.svg");
}

.menu {
  position: fixed;
  top: 120px; /* высота хедера */
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  z-index: 30;
}

.wrapperMenu {
  width: 100%;
  background: #ffffff;
  padding: 0 20px;
  overflow-y: scroll;
  border-top: 1px solid rgba(63, 78, 101, 0.1);
}

.wrapperText {
  display: flex;
  align-items: center;
  padding: 15px 0 0;
}

.phone {
  padding-right: 20px;
}

.telephone {
  padding-right: 7px;
}

.wrapperRight {
  @include mediaMobile {
    padding: 25px 0;
  }
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #3f4e65;
  border-top: 1px dashed rgba(63, 78, 101, 0.1);
  padding-top: 25px;
}

.mobile {
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: white;
  width: auto;
}
