.makeOrder {
  padding: 0 14px;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  color: #111111;
}

.wrapper {
  display: flex;
  gap: 100px;
  padding-top: 50px;
}
