@import "/src/ui/breakpoints.scss";

.footer {
  margin-top: 100px;
  padding: 70px 0;
  background: #3f4e65;
  height: 500px;
  @include mediaMobile {
    margin-top: 50px;
    padding: 15px;
    height: 100%;
  }
}
.number {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding-top: 20px;
  @include mediaMobile {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding-top: 0;
  }
}

.subtext {
  padding-top: 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  @include mediaMobile {
    padding-top: 15px;
  }
}

.input {
  width: 282px;
  height: 59px;
  padding: 20px;
  margin: 14px 0;
  background: #ffffff;
  border-radius: 36px;
  color: rgba(63, 78, 101, 0.6);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) 50%;
  background-image: url("../../assets/icons/input-btn.svg ");
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 10px #ffc85e;
  }
  @include mediaMobile {
    width: 290px;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  @include mediaMobile {
    gap: 44px;
    align-items: center;
  }
}

.itemWrap {
  display: flex;
  gap: 120px;
  padding: 0 35px;
  @include mediaMobile {
    padding: 30px 0;
    gap: 24px;
  }
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 21px;
  color: #ffffff;
  padding-bottom: 5px;
  @include mediaMobile {
    line-height: 30px;
    white-space: nowrap;
    padding-bottom: 0;
  }
}

.wrapperLink {
  padding: 10px 0;
}

.linksFooter {
  padding-top: 20px;
  @include mediaMobile {
    padding-top: 10px;
  }
}

.links {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  &:hover {
    box-shadow: 0 0 10px #ffc85e;
  }
  @include mediaMobile {
    white-space: nowrap;
    font-size: 12px;
    line-height: 18px;
  }
}

.btn {
  width: 214px;
  height: 59px;
  background: #ffc85e;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  border-radius: 79px;
  color: #ffffff;
  margin: 20px 0;
  &:hover {
    box-shadow: 0 0 10px #ffc85e;
  }
  @include mediaMobile {
    width: 149px;
    height: 40px;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
  }
}

.variants {
  display: flex;
  padding-top: 15px;
  gap: 10px;
}

.social {
  transition: transform 0.1s ease;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
    border-radius: 1000px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
}

.contact {
  padding: 5px 0;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  @include mediaMobile {
    padding-bottom: 25px;
  }
}

.hours {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  text-decoration-line: underline;
  color: #ffffff;
}

.payments {
  display: flex;
  gap: 5px;
  padding: 20px 0;
  @include mediaMobile {
    padding: 10px 0;
  }
}

.sultanFooter {
  width: 156px;
  height: 66px;
  padding-bottom: 15px;
  @include mediaMobile {
    width: 97px;
    height: 41px;
    padding: 0;
  }
}

.textWrap {
  display: flex;
  gap: 27px;
  padding-top: 25px;
  white-space: nowrap;
}

.message {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
