@import "/src/ui/breakpoints.scss";

.bestGoods {
  padding: 100px 0;
  @include mediaMobile {
    padding: 50px 0;
  }
}

.title {
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
  @include mediaMobile {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    padding: 0 15px;
  }
}

.subtitle {
  padding-top: 15px;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #3f4e65;
  @include mediaMobile {
    padding-left: 15px;
    font-size: 14px;
    line-height: 17px;

  }
}

.wrapper {
  display: flex;
  gap: 10px;
  padding: 50px 0;
  overflow-x: scroll;
  scroll-behavior: smooth;
  @include mediaMobile {
    padding: 25px 0;
  }
}

.imagesContainer {
  display: flex;
}

.picture {
  flex-shrink: 0;
  padding: 15px 15px;
  background: #ffffff;
  box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  &:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
}

.dotsContainer {
  display: flex;
  gap: 6px;
  @include mediaMobile {
    padding-top: 25px;
  }
}

.dot {
  position: relative;
  background: #3f4e65;
  opacity: 0.1;
  width: 16px;
  height: 7px;
  left: 50%;
  border-radius: 100px;
  &:active {
    width: 26px;
    background: #ffc85e;
  }
 
}
